{% extends 'base.html.twig' %}
{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container modal-container">
    <div class="row justify-content-md-center profile-wrapper">
        <div class="avatar col-4 d-flex flex-column justify-content-top">
            <!-- <img src="{{avatarSrc}}" alt="profile-image" class="avatarImg"> -->
            <img src="{{avatarSrc}}" alt="profile-image" class="avatarImg">
            <button type="button" class="btn btn-primary end-btn" data-toggle="modal" data-target="#avatarModal">
                change profile photo
            </button>
        </div>
        <div class="userDescription col-8">
            <form action="{{path('editProfile', {userId: app.user.id})}}" method="POST">
                <div class="form-group">
                  <label for="formGroupExampleInput">Username</label>
                  <input type="text" class="form-control" id="username" name="username" value="{{app.user.username}}">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Email</label>
                  <input type="text" class="form-control" id="email" name="email" value="{{app.user.email}}">
                </div>
                <button type="submit" class="btn btn-primary end-btn">Update Infomation</button>
            </form>

        </div>
    </div>

    <!-- Modal -->
    <div id="avatarModal" class="modal fade custom-modal" data-controller="bm" role="dialog">
       <div class="modal-dialog" role="document">
         <!-- Modal content-->
           <div class="modal-content">
               <div class="modal-header">
                <h4 class="modal-title">Photo Upload</h4>
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                  {{ form_start(profileForm, {
                    'attr':{
                      'class': 'profile-avatar-form'
                    }
                  }) }}
                  {{ form_widget(profileForm.avatar, {
                    attr:{
                      placeholder: 'Select a new avatar'
                    }
                  })}}
                  <div class="form-error">
                    {{ form_errors(profileForm.avatar) }}
                  </div>
                  <div class="form-row">
                    <div class="col align-self-center">
                      <button type="submit" class="btn btn-primary end-btn" id="modal-submit-btn">Save changes</button>
                      <button type="button" class="btn btn-secondary end-btn" data-dismiss="modal">Close</button>
                    </div>
                  {{ form_end(profileForm) }}
               </div>
           </div>
       </div>
    </div>

</div>


{% endblock %}


